{% extends "base.html" %}

{% block content %}
<h1>Edit Character</h1>
<form method="post">
    {{ form.hidden_tag() }}
    <p>{{ form.character_name.label }}<br>{{ form.character_name }}</p>
    <p>{{ form.discord_username.label }}<br>{{ form.discord_username }}</p>
    <p>{{ form.character_class.label }}<br>{{ form.character_class }}</p>
    <p>{{ form.alignment.label }}<br>{{ form.alignment }}</p>
    <p>{{ form.race.label }}<br>{{ form.race }}</p>
    <p>{{ form.age.label }}<br>{{ form.age }}</p>
    <p>{{ form.height.label }}<br>{{ form.height }}</p>
    <p>{{ form.weight.label }}<br>{{ form.weight }}</p>
    <p>{{ form.gender.label }}<br>{{ form.gender }}</p>
    <p>{{ form.eye_color.label }}<br>{{ form.eye_color }}</p>
    <p>{{ form.hair_color.label }}<br>{{ form.hair_color }}</p>
    <p>{{ form.skin_color.label }}<br>{{ form.skin_color }}</p>
    <p>{{ form.favorite_weapon.label }}<br>{{ form.favorite_weapon }}</p>
    <p>{{ form.character_description.label }}<br>{{ form.character_description }}</p>
    <p>{{ form.history.label }}<br>{{ form.history }}</p>
    <p>{{ form.strength.label }}<br>{{ form.strength }}</p>
    <p>{{ form.dexterity.label }}<br>{{ form.dexterity }}</p>
    <p>{{ form.constitution.label }}<br>{{ form.constitution }}</p>
    <p>{{ form.intelligence.label }}<br>{{ form.intelligence }}</p>
    <p>{{ form.wisdom.label }}<br>{{ form.wisdom }}</p>
    <p>{{ form.charisma.label }}<br>{{ form.charisma }}</p>
    <p>{{ form.maximum_health.label }}<br>{{ form.maximum_health }}</p>
    <p>{{ form.current_health.label }}<br>{{ form.current_health }}</p>
    <p>{{ form.xp_points.label }}<br>{{ form.xp_points }}</p>
    <p>{{ form.submit }}</p>
</form>
<a href="{{ url_for('home') }}">Back to Character List</a>
{% endblock %}
