{% extends "base.html" %}

{% block title %}Edit Character{% endblock %}

{% block content %}
  <h1>Edit Character</h1>
  <form method="POST" action="{{ url_for('edit_character', character_id=character.id) }}">
    {{ form.hidden_tag() }}
    <div>
      {{ form.character_name.label }} {{ form.character_name }}
    </div>
    <div>
      {{ form.discord_username.label }} {{ form.discord_username }}
    </div>
    <div>
      {{ form.character_class.label }} {{ form.character_class }}
    </div>
    <div>
      {{ form.alignment.label }} {{ form.alignment }}
    </div>
    <div>
      {{ form.race.label }} {{ form.race }}
    </div>
    <div>
      {{ form.age.label }} {{ form.age }}
    </div>
    <div>
      {{ form.height.label }} {{ form.height }}
    </div>
    <div>
      {{ form.weight.label }} {{ form.weight }}
    </div>
    <div>
      {{ form.gender.label }} {{ form.gender }}
    </div>
    <div>
      {{ form.eye_color.label }} {{ form.eye_color }}
    </div>
    <div>
      {{ form.hair_color.label }} {{ form.hair_color }}
    </div>
    <div>
      {{ form.skin_color.label }} {{ form.skin_color }}
    </div>
    <div>
      {{ form.favorite_weapon.label }} {{ form.favorite_weapon }}
    </div>
    <div>
      {{ form.character_description.label }} {{ form.character_description }}
    </div>
    <div>
      {{ form.history.label }} {{ form.history }}
    </div>
    <div>
      {{ form.strength.label }} {{ form.strength }}
    </div>
    <div>
      {{ form.dexterity.label }} {{ form.dexterity }}
    </div>
    <div>
      {{ form.constitution.label }} {{ form.constitution }}
    </div>
    <div>
      {{ form.intelligence.label }} {{ form.intelligence }}
    </div>
    <div>
      {{ form.wisdom.label }} {{ form.wisdom }}
    </div>
    <div>
      {{ form.charisma.label }} {{ form.charisma }}
    </div>
    <div>
      {{ form.maximum_health.label }} {{ form.maximum_health }}
    </div>
    <div>
      {{ form.current_health.label }} {{ form.current_health }}
    </div>
    <div>
      {{ form.armor_class.label }} {{ form.armor_class }}
    </div>
    <div>
      {{ form.xp_points.label }} {{ form.xp_points }}
    </div>
    <div>
      {{ form.platinum_coins.label }} {{ form.platinum_coins }}
    </div>
    <div>
      {{ form.gold_coins.label }} {{ form.gold_coins }}
    </div>
    <div>
      {{ form.silver_coins.label }} {{ form.silver_coins }}
    </div>
    <div>
      {{ form.copper_coins.label }} {{ form.copper_coins }}
    </div>
    <div>
      {{ form.feats.label }} {{ form.feats }}
    </div>
    <div>
      {{ form.special_abilities.label }} {{ form.special_abilities }}
    </div>
    <div>
      {{ form.skills.label }} {{ form.skills }}
    </div>
    <div>
      <input type="submit" value="Save Changes">
    </div>
  </form>
{% endblock %}
